@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700;800&display=swap');
.introduce{
    display: flex;
    justify-content: flex-start;
    margin-bottom: 100px;
}
.introduce .paragraph{
    font-family: 'Nanum Gothic', sans-serif;
    width: 70%;
    padding: 0 3vw;
    color: white;
    line-height: 1.5em;
}
.introduce .paragraph p{
    margin-bottom: 20px;
}

.introduce .paragraph .tag{
    display: flex;
    justify-content: flex-end;
}
.introduce .paragraph .tag li{
    background-color: rgb(122, 122, 122);
    margin-right: 10px;
    padding: 1px 10px;
    border-radius: 7px;
    color: black;
    font-weight: 800;
    font-size: 14px;
}
strong{
    font-weight: 900;
}

@media screen and (max-width:1240px){
    .introduce .paragraph{
        width: 85%;
    }
}
@media screen and (max-width:768px){
    .introduce{
        flex-direction: column;
    }
    .introduce .paragraph{
        width: 95%;
        margin-top: 20px;
        font-size: 14px;
    }
}
@media screen and (max-width:480px){
    .introduce .paragraph{
        font-size: 13px;
    }
    .introduce .paragraph .tag{
        display: none;
    }
}