.paperItem{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 80px;
}
.paperItem .title{
    font-size: 22px;
    font-weight: 700;
    padding: 6px 0;
}
.paperItem .entitle{
    font-weight: 500;
    color: gray;
    padding-bottom: 10px;
}
.paperItem .people{
    font-size: 18px;
    font-weight: 600;
    padding-bottom: 30px;
}
.paperItem .description{
    display: inline-block;
    padding: 0 10vw;
    line-height: 1.5em;
}
.paperItem .paperLink{
    margin-top: 20px;
    color: black;
    text-decoration: none;
    font-size: 20px;
    font-weight: 600;
    transition: transform 0.3s ease;
}
.paperItem .paperLink:hover{
    transform: scale(1.03);
}
.paperItem .paperLink svg{
    font-size: 28px;
    margin-right: 8px;
}